{
  "aws": { "region": "eu-west-2" },
  "cognito": {
    "authority": "https://cognito-idp.eu-west-2.amazonaws.com/__USER_POOL_ID__",
    "userPoolId": "__USER_POOL_ID__",
    "userPoolClientId": "__CLIENT_ID__",
    "cognitoDomain": "my.domain.auth.eu-west-2.amazoncognito.com",
    "redirectUri": "https://my.domain.com/loggedin",
    "logoutUri": "https://my.domain.com/logout",
    "identityPoolId": "__IDENTITY_POOL_ID__"
  },
  "apiEndpoint": "https://my.domain.com/api"
}
